.game-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* centre horizontalement */
  justify-content: center; /* centre verticalement */
  min-height: 70vh; /* espace hauteur avant le canvas */
  text-align: center;
}

.game-over {
  margin-top: 20px;
}
